@media (max-width: 992px) {
    .hero-img img{
        display: none;
    }
    .boton1, .boton2{
        width: 50%;
    }
    #contact{
        flex-direction: column;
        align-items: center;
    }
    .contact-info{
        align-items: center;
    }
}

@media (max-width: 576px) {
    .about{
        display: none;
    }
    .contact-cards{
        flex-direction: column;
    }
    .cards{
        flex-wrap: wrap;
    }
}